<div>Pokemons</div>

<%= @pokemons&.each do |pokemon| %>
  <div>
    <%= pokemon[:original_poke_name] %>

    <% if pokemon[:captured] %>
      <div>Edit Details </div>
    <% else %>
      <div>Capture</div>
    <% end %>
  </div>

<% end %>